/* From Uiverse.io by bbaginuk */

/*------ Settings ------*/
.spotify-play-pause-container {
  --color: black;
  --size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.spotify-play-pause-container .play {
  position: absolute;
  animation: keyframes-fill 0.3s;
}

.spotify-play-pause-container .pause {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.3s;
}

/* ------ On check event ------ */
.spotify-play-pause-container input:checked ~ .play {
  display: none;
}

.spotify-play-pause-container input:checked ~ .pause {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.spotify-play-pause-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
}

